PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/app_harinas
JWT_SECRET=coloca_un_secreto_seguro
JWT_EXPIRES_IN=8h
NODE_ENV=development
CORS_ORIGINS=http://localhost:8082,http://localhost:19006
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
